{% extends 'home/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/css/team.css' %}">
{% endblock head %}


{% block main %}
<div class="teams">

    <div class="profile-card">
        <div class="avatar">
            <!-- <img src="{% static 'animation/images/Animation Card with Logo for Animation Page.png' %}" alt=""> -->
            <img src="{% static 'home/images/team_photo/farouk_abiodun.png' %}" alt="">

        </div>
        <div>
            <p class="name">Farouk <span class="surname">Adegboyega</span></p>
            <p class="stack">Fullstack Developer</p>
        </div>
        <div class="linktr">
            <a href="https://twitter.com/farookie007" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/twitter-154-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://linkedin/in/farookie007" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/linkedin-161-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/gmail-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://github.com/farookie007" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/github-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </div>
    <div class="profile-card">
        <div class="avatar">
            <img src="{% static 'animation/images/Animation Card with Logo for Animation Page.png' %}" alt="">
        </div>
        <div>
            <p class="name">Mary <span class="surname">Jane</span></p>
            <p class="stack">Fullstack Developer</p>
        </div>
        <div class="linktr">
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/twitter-154-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/linkedin-161-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/gmail-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/github-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </div>
    <div class="profile-card">
        <div class="avatar">
            <img src="{% static 'animation/images/Animation Card with Logo for Animation Page.png' %}" alt="">
        </div>
        <div>
            <p class="name">Mary <span class="surname">Jane</span></p>
            <p class="stack">Fullstack Developer</p>
        </div>
        <div class="linktr">
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/twitter-154-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/linkedin-161-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/gmail-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/github-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </div>
    <div class="profile-card">
        <div class="avatar">
            <img src="{% static 'animation/images/Animation Card with Logo for Animation Page.png' %}" alt="">
        </div>
        <div>
            <p class="name">Mary <span class="surname">Jane</span></p>
            <p class="stack">Fullstack Developer</p>
        </div>
        <div class="linktr">
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/twitter-154-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/linkedin-161-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/gmail-svgrepo-com.svg' %}" alt=""></a>
            <a href="https://" target="_blank" rel="noopener noreferrer"><img
                    src="{% static 'home/images/logos/github-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </div>
</div>
{% endblock main %}